filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/*.log

{% if filebeat_output == "logstash" %}
output.logstash:
  hosts: ["{{ logstash_host }}"]
{% else %}
output.elasticsearch:
  hosts: ["{{ elasticsearch_network_host }}:9200"]
{% endif %}

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

