# Configuration de base pour Zabbix Server
ListenPort={{ zabbix_listen_port }}
LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=10
DebugLevel=3
DBHost={{ zabbix_db_host }}
DBName={{ zabbix_db_name }}
DBUser={{ zabbix_db_user }}
DBPassword={{ zabbix_db_password }}
DBPort={{ zabbix_db_port }}
Timeout=4
AlertScriptsPath=/usr/lib/zabbix/alertscripts
ExternalScripts=/usr/lib/zabbix/externalscripts
LogSlowQueries=3000
